
h1{
    font-weight: bolder;
    border-bottom-style: solid;
    border-bottom-color: orange;
    border-bottom-width: thick;
    padding: 0px 20px;
}

.container {
    margin-top: 5px;
    margin-bottom: auto;
    width: 800px;
    height: 500px;
    border: 1px solid #1447c8;
    border-radius: 15px ;
    padding: 0px 15px;
}

.left-side {
    margin-left: 20px;
}

.row {
    margin: 0px;
}

.outsideLabel, .indoorsLabel{
    width: 110px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 2px;
}

.temperature{
    margin: 1px 10px 0px 0px;
    width: 110px;
    height: 110px;
    border: 1px solid #1447c8;
    border-radius: 15px;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center
}

.outsideTemp {
    margin-top: 5px
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.livingRoom {
    background-image: url(images/livingRoom.png);
    background-color: lightblue;
    background-repeat: no-repeat;
    padding: 0px;

}
.livingRoom:before {
    content: url("images/livingRoom.png");
    visibility: hidden;
}

.livingRoom:active {
    background-image: url(images/livingRoom.png);
    border: 8px solid #f1c232;
}