
h1{
    font-weight: bolder;
    border-bottom-style: solid;
    border-bottom-color: orange;
    border-bottom-width: thick;
    padding: 0px 20px;
}

.container {
    margin-top: 5px;
    margin-bottom: auto;
    width: 800px;
    height: 500px;
    border: 1px solid #1447c8;
    border-radius: 15px ;
    padding: 0px 15px;
}

.row {
    margin: 0px;
}

.outsideLabel, .indoorsLabel{
    width: 110px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 2px;
}

.temperature{
    margin: 1px 10px 0px 0px;
    width: 110px;
    height: 110px;
    border: 1px solid #1447c8;
    border-radius: 15px;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outsideTemp {
    margin-top: 5px
}

.right-side {
    float: left;
    width: 65%;
    margin-top: 20px;
}
.left-side {
    margin-left: 20px;
    float: left;
    width: 30%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


/*
Living Room button
*/
.livingRoom {
    width: 200px;
    height: 200px
}

/*
Office Button
*/
.office {
    width: 130px;
    height: 100px;
}

/*
bedroom1 Button
*/
.bedroom1 {
    width: 130px;
    height: 100px;
}

/*
bedroom2 Button
*/
.bedroom2 {
    width: 140px;
    height: 90px;
}

/*
master Button
*/
.master {
    width: 150px;
    height: 100px;
    transition: .5s ease;
    top: 50%;
    left: 50%;
}

.roomButton {
    background-color: lightblue;
    margin: 0px !important;
    padding: 0px;
    border: 1px solid black;
    display: inline-block;
}
.roomButton:active {
    border: 8px solid #f1c232;
}

/*
temperature control buttons
 */
.control {
    margin-left: 16px;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    width: 20px;
    height: 20px;
    background-color: transparent;
}
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.setTemp {
    margin-left: 10px;
    margin-right: 10px;
}